@media (max-width: 992px)
    .section_outer
        max-width: 960px

@media (max-width: 768px)
    .section_outer
        max-width: 720px

@media (max-width: 576px)
    .section_outer
        max-width: 540px
