@media (max-width: 1440px)
    .fixed_phone
        a
            padding: 10px 15px 10px 25px
            font-size: 14px
            &::before
                bottom: 9px
@media (max-width: 1024px)
    .section_outer
        max-width: 960px
    .fixed_phone
        display: none
    .section_heading
        font-size: 38px
    .section_paragraph
        font-size: 16px
        max-width: 65%
    .section_header
        &_logo
            width: 160px
            span
                left: 23%
        a.section_header_nav_link
            margin: 0 10px
        .section_header_nav_item:nth-child(3) a
            padding: 36px 10px
    .section_services
        margin-top: 100px
        &_price_list
            margin-top: 60px
        &_price_item
            width: 140px
            height: 140px
            &::before
                top: -15px
                left: calc(50% - 15px)
                width: 30px
                height: 15px
            &::after
                bottom: -15px
                left: calc(50% - 15px)
                width: 30px
                height: 15px
            &_service
                font-size: 16px
                margin: 10% auto 0
            &_rate
                font-size: 38px
            &_time
    .section_estimator
        margin-top: 100px
        &_wrapper
            height: 435px
        &_main_block
            padding: 40px
        &_options_block
            margin-right: 60px
            width: 600px
            .estimator_label
                font-size: 18px
                width: 110px
        .estimator_small_option
            width: 60px
            height: 60px
        .estimator_big_option
            width: 140px
            height: 60px
            padding: 0 10px
        &_result_block
            &_text
                font-size: 18px
            &_time
                font-size: 18px
            &_price
                font-size: 58px
    .section_slider
        margin-top: 100px
        margin-bottom: 150px
        &_content
            margin-top: 60px
            &_slide
                height: 280px
                width: 300px
                margin: 0 auto
                padding: 20px
                &_header
                    margin-bottom: 20px
                &_heading
                    font-size: 26px
                    &_discount
                        left: 35%
                        .slide_heading_discount_save
                            font-size: 15px
                &_subheading
                    font-size: 18px
                &_main
                    margin-bottom: 30px
    .section_tables
        &_table_wrapper:nth-child(1)
            padding-top: 80px
        &_table_wrapper:nth-child(3)
            padding-bottom: 100px
    .section_you_get
        margin-top: 100px
        &_right_img_block,
        &_left_img_block
            padding-top: 70px
        &_info
            margin: 100px 0
            &_block_text
                max-width: 70%
    .section_ready_to_book
        padding-top: 80px
        &_text
            width: 55%
            p
                max-width: 100%
    .section_footer
        padding: 80px 0
        .footer_inner_block_wrapper
            .second_section_contact_list
                .second_section_contact_item
                    margin-bottom: 30px
            .fourth_section_available_list
                .fourth_section_available_item:first-child
                    margin-bottom: 30px
            .third_section_nav_list
                width: 75%
        &_info_block
            .terms_and_policy_block
                width: 60%
@media (max-width: 812px)
    .section_header
        position: fixed
        top: 0
        left: 0
        z-index: 3
        &_content
            background-color: #fff
            z-index: 6
        &_btn_book_now
            position: absolute
            left: 50%
            transform: translate(-50%)
        .mobile_menu_wrapper
            display: block
            position: absolute
            width: 50px
            height: 50px
            right: 25px
            top: 25px
            z-index: 5
        .mobile_menu
            position: absolute
            right: 10px
            top: 25px
            width: 30px
            height: 2px
            background-color: #57616b
            transition: .3s linear
            &::before,
            &::after
                content: ''
                position: absolute
                right: 0
                width: 30px
                height: 2px
                background-color: #57616b
                z-index: 5
                transition: .3s linear
            &::after
                transform: translateY(10px)
            &::before
                transform: translateY(-10px)
        .mobile_menu.active
            transform: translateX(-50px)
            background-color: transparent
            &::after
                transform: rotate(45deg) translate(25px, -25px)
            &::before
                transform: rotate(-45deg) translate(25px, 25px)
        a.section_header_nav_link
            margin: 0
            font-size: 20px
            padding: 20px 0
            width: 100%
            display: block
            border-bottom: 2px solid #fafcfd
        .section_header_nav_item:nth-child(3)
            a
                padding: 20px 0
        &_wrapper
            position: absolute
            top: 95px
            right: -100%
            width: 100%
            background-color: #fafcfd
            height: 330px
            box-shadow: 0px 0px 7px 0px #ccc
            transition: .3s linear
        &_wrapper.active
            right: 0
        &_nav
            height: 100%
            &_list
                display: flex
                flex-direction: column
                justify-content: space-around
                height: 100%
            &_item
                width: 100%
                text-align: center
@media (max-width: 768px)
    .section_outer
        max-width: 720px
    .section_services
        margin-top: 150px
        &_price_block
            max-width: 90%
        &_price_list
            flex-wrap: wrap
            justify-content: space-around
        &_price_item
            margin: 30px 10px
            width: 160px
            height: 160px
    .section_estimator
        margin-top: 80px
        &_wrapper
            margin-top: 60px
            height: 600px
        &_main_block
            display: flex
            flex-direction: column
        &_options_block
            margin: 0 auto
        &_result_block
            width: 95%
            margin: 0 auto
            &_text
                width: max-content
                margin: 30px auto 10px
            &_price_wrapper
                width: max-content
                display: inline-block
            &_btn
                position: absolute
                right: 11%
    .section_tables_table_wrapper:nth-child(3)
        padding-bottom: 80px
    .section_you_get
        margin-top: 80px
        &_right_img_block_text
            width: 40%
            margin: 0
            .img_block_list_item
                font-size: 14px
        &_left_img_block_text
            .img_block_list_item
                font-size: 14px
        .section_you_get_right_img_block
            .section_you_get_right_img_block_img
                height: 250px
        .section_you_get_left_img_block
            .section_you_get_left_img_block_img
                height: 250px
    .section_ready_to_book_btn
        flex-direction: column
        button
            margin: 0 auto
        button:first-child
            margin: 20px auto 25px
    .section_footer
        .footer_inner_block_wrapper
            flex-wrap: wrap-reverse
            .fourth_section_available_list
                width: 70%
            .footer_inner_block:first-child
                width: 45%
            .footer_inner_block
                width: 45%
                margin-bottom: 50px
                height: 200px
            .third_section_nav_list
                .third_section_nav_item
                    margin-bottom: 21px
        &_first_section
            .first_block_content
                margin:  0 auto
@media (max-width: 576px)
    .section_outer
        max-width: 540px
@media (max-width: 414px)
    .section_header
        height: 50px
        &_wrapper
            top: 50px
        &_wrapper.active
            top: 50px
        .section_heading
            font-size: 34px
        .mobile_menu_wrapper
            top: 0
            right: 10px
        &_logo
            font-size: 26px
            width: 85px
            position: relative
            left: 5px
            a
                span
                    left: 20%
                    bottom: -5px
        &_btn_book_now
            a
                padding: 15px 30px
    .section_paragraph
            font-size: 14px
            max-width: 80%
            max-width: 100%
    .section_outer
        max-width: 400px
    .section_services
        margin-top: 100px
    .section_slider
        &_content_slide
            margin: 0 auto
    .section_estimator
        &_main_block
            padding: 5px
            height: 100%
        &_options_block
            width: 325px
            .estimator_category:not(:last-child)
                margin-bottom: 25px
            .estimator_category
                position: relative
            .estimator_label
                position: absolute
                bottom: 70px
                left: 0
                width: 100%
                text-align: center
            .estimator_small_option
                width: 50px
                height: 50px
            .estimator_big_option
                width: 105px
                height: 50px
                padding: 0 5px
                font-size: 12px
        &_result_block
            position: relative
            &_text
                margin: 30px auto 20px
            &_time
                display: block
                width: max-content
                margin: 0 auto
            &_btn
                left: 0
                right: 0
                bottom: 0
                margin: 0 auto
            &_price_wrapper
                margin: 0 auto
                display: block
    .section_tables
        &_table_wrapper:nth-child(1)
            padding-top: 60px
        &_table_header
            border-left: 10px solid #fafcfd
            border-right: 10px solid #fafcfd
        &_table
            .table_header
                font-size: 18px
            .table_content:last-child
                border-right: 10px solid #fff
            .table_content_header
                border-left: 10px solid #fff
                font-size: 14px
            &_wrapper:last-child
                padding-bottom: 60px
        &_table_body
            .vacuum::before,
            .wet::before,
            .kitchen::before
                left: -10px
    .section_you_get
        margin-top: 60px
        &_right_img_block
            padding-top: 60px
            flex-wrap: wrap
            &_text
                width: 100%
                margin-bottom: 15px
                h4
                    font-size: 18px
                .img_block_list
                    margin-left: 35px
        &_left_img_block
            padding-top: 60px
            flex-wrap: wrap-reverse
            &_text
                width: 100%
                margin-bottom: 15px
                h4
                    font-size: 18px
                .img_block_list
                    margin-left: 35px
        &_info
            margin: 60px 0
            &_block
                flex-direction: column
                margin: 0 10px
                &_text
                    max-width: 100%
                    margin-top: 20px
    .section_you_get
        .first_block.active,
        .second_block.active,
        .third_block.active,
        .fourth_block.active
            .img_block_list_item
                transform: translateX(3%)
        .section_you_get_left_img_block
            .section_you_get_left_img_block_img
                width: 100%
    .section_you_get
        .section_you_get_right_img_block
            .section_you_get_right_img_block_img
                width: 100%
    .section_ready_to_book
        padding-top: 60px
        p,
        h1
            text-align: center
        &_wrapper
            flex-direction: column
            padding-bottom: 60px
        &_text,
        &_btn
            width: 100%
            button:first-child
                margin: 20px auto 15px
    .section_footer
        .section_footer_second_section
            .second_section_contact_list
                .second_section_contact_item
                    margin-bottom: 20px
        .footer_inner_block_wrapper
            .third_section_nav_list
                .third_section_nav_item
                    margin-bottom: 17px
        .footer_inner_block_wrapper
            position: relative
            .fourth_section_available_list
                .fourth_section_available_item:first-child::before
                    left: -20px
            .footer_inner_block
                width: 48%
                font-size: 14px
        &_second_section
            position: absolute
            top: 0
            right: 30px
        &_third_section
            .third_section_footer_nav
                .third_section_nav_list
                    margin: 0 auto 0 0
        &_info_block
            align-items: flex-start
            width: 85%
            .terms_and_policy_block
                width: 50%
                margin: 0 0 0 55px
                .terms_and_policy_list
                    flex-direction: column
                    .terms_and_policy_item
                        margin-bottom: 10px
@media (max-width: 375px)
    .section_outer
        max-width: 360px
    .section_services_price_item
        width: 140px
        height: 140px
